# <font color='OrangeRed'><center>Exercícios - Pandas</center></font>

### Bibliotecas

In [1]:
# Carregue suas bibliotecas aqui (Opcional)

import pandas

### Exercício 01

Carregue o arquivo excel com o nome Vendas.xlxs e em seguida use uma função para exibir o dataframe carregado.

In [2]:
import pandas

planilha = pandas.read_excel('Vendas.xlsx')

type(planilha)

pandas.core.frame.DataFrame

---

### Exercício 02

Use um método para exibir as 10 primeiras linhas do dataframe.

In [4]:
planilha.head(10)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248
6,5,2019-01-02,Shopping Barra,Calça,1,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105

---

### Exercício 03

Use um método para exibir as 5 últimas linhas do dataframe.

In [5]:
planilha.tail(5)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259

---

### Exercício 04

Use um método para exibir a quantidade de linhas e colunas do dataframe.

In [6]:
planilha.shape

(93910, 6)

---

### Exercício 05

Exiba apenas as colunas **Produto** e **ID Loja**.

In [7]:
planilha[['Produto', 'ID Loja' ]]

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

---

### Exercício 06

Crie uma coluna chamada **Valor Final** e atribua a ela o valor **Valor Unitário * Quantidade**.

In [12]:
planilha['Valor Final'] = planilha['Valor Unitário'] * planilha ['Quantidade']

display(planilha)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

---

### Exercício 07

Crie uma coluna chamada **Comissão** e atribua a ela 5% do valor da coluna **Valor Final**.

In [13]:
planilha['Comissão'] = planilha['Valor Final'] * 0.05

display(planilha)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

---

### Exercício 08

Filtre as linhas da coluna **ID Loja** onde o valor seja é igual a 'Iguatemi Esplanada' e exiba apenas as colunas **ID Loja**, **Produto** e **Quantidade**.

In [51]:
planilha.loc[planilha['ID Loja'] == 'Iguatemi Esplanada', ['ID Loja', 'Produto', 'Quantidade']]

                  ID Loja                 Produto  Quantidade
0      Iguatemi Esplanada          Sapato Estampa           1
1      Iguatemi Esplanada                Camiseta           2
2      Iguatemi Esplanada           Sapato Xadrez           1
26     Iguatemi Esplanada  Camisa Gola V Listrado           2
44     Iguatemi Esplanada         Sapato Listrado           1
...                   ...                     ...         ...
93745  Iguatemi Esplanada                    Meia           4
93776  Iguatemi Esplanada            Tênis Xadrez           3
93880  Iguatemi Esplanada            Bermuda Liso           2
93881  Iguatemi Esplanada          Chinelo Xadrez           1
93882  Iguatemi Esplanada              Cinto Liso           1

[3722 rows x 3 columns]

---

### Exercício 09

Filtre as linhas da coluna **ID Loja** onde o valor seja é igual a 'Norte Shopping' e da coluna **Produto** onde o valor seja é igual a 'Camiseta'.

In [52]:
planilha.loc[ (planilha['ID Loja'] == 'Norte Shopping') & (planilha['Produto'] == 'Camiseta')]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1642,1091,2019-01-07,Norte Shopping,Camiseta,1,180,180,9.0
13899,9523,2019-02-20,Norte Shopping,Camiseta,1,180,180,9.0
15737,10795,2019-02-26,Norte Shopping,Camiseta,1,180,180,9.0
15964,10952,2019-02-27,Norte Shopping,Camiseta,4,180,720,36.0
16068,11039,2019-02-27,Norte Shopping,Camiseta,1,180,180,9.0
16758,11532,2019-03-02,Norte Shopping,Camiseta,1,180,180,9.0
23777,16416,2019-03-27,Norte Shopping,Camiseta,1,180,180,9.0
23855,16472,2019-03-27,Norte Shopping,Camiseta,1,180,180,9.0
24699,17061,2019-03-30,Norte Shopping,Camiseta,1,180,180,9.0
25508,17610,2019-04-02,Norte Shopping,Camiseta,1,180,180,9.0
27281,18808,2019-04-08,Norte Shopping,Camiseta,1,180,180,9.0
29684,20456,2019-04-17,Norte Shopping,Camiseta,2,180,360,18.0
30918,21264,2019-04-21,Norte Shopping,Camiseta,1,180,180,9.0
32833,22599,2019-04-28,Norte Shopping,Camiseta,2,180,360,18.0
35806,24729,2019-05-08,Norte Shopping,Camiseta,2,180,360,18.0
36144,24988,2019-05-10,Norte Shopping,Camiseta,4,180,720,36.0
36506,25228,2019-05-11,Norte Shopping,Camiseta,1,180,180,9.0
39444,27186,2019-05-21,Norte Shopping,Camiseta,2,180,360,18.0
42173,29025,2019-05-31,Norte Shopping,Camiseta,1,180,180,9.0
42586,29315,2019-06-02,Norte Shopping,Camiseta,1,180,180,9.0
54299,37519,2019-07-13,Norte Shopping,Camiseta,2,180,360,18.0
58295,40282,2019-07-27,Norte Shopping,Camiseta,1,180,180,9.0
79761,55357,2019-10-11,Norte Shopping,Camiseta,3,180,540,27.0
80153,55620,2019-10-13,Norte Shopping,Camiseta,1,180,180,9.0
80389,55786,2019-10-14,Norte Shopping,Camiseta,1,180,180,9.0
82203,57025,2019-10-20,Norte Shopping,Camiseta,1,180,180,9.0
82498,57214,2019-10-21,Norte Shopping,Camiseta,1,180,180,9.0
83089,57604,2019-10-23,Norte Shopping,Camiseta,1,180,180,9.0

---

### Exercício 10

Filtre as linhas da coluna **Produto** onde o valor seja é igual a 'Relógio', 'Gorro' **OU** 'Calça'.

In [56]:
planilha.loc[ (planilha['Produto'] == 'Relógio') | (planilha['Produto'] == 'Gorro') | (planilha['Produto'] == 'Calça')]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.0
6,5,2019-01-02,Shopping Barra,Calça,1,170,170,8.5
46,35,2019-01-02,Parque Dom Pedro Shopping,Relógio,2,200,400,20.0
50,38,2019-01-02,Shopping Vila Velha,Relógio,1,200,200,10.0
53,41,2019-01-02,Novo Shopping Ribeirão Preto,Gorro,1,80,80,4.0
...,...,...,...,...,...,...,...,...
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160,8.0
93778,64929,2019-11-30,Shopping União de Osasco,Relógio,2,200,400,20.0
93782,64931,2019-11-30,Shopping Center Leste Aricanduva,Gorro,2,80,160,8.0
93791,64937,2019-11-30,Parque Dom Pedro Shopping,Relógio,1,200,200,10.0
93823,64957,2019-11-30,Shopping Center Leste Aricanduva,Gorro,1,80,80,4.0

---

### Exercício 11

Através da coluna **Código Venda**, retorne o número de vendas únicas.

---

### Exercício 12

Imprima o **maior**, o **menor** e a **média** dos valores da coluna **Comissão**

---

### Exercício 13

Agrupe os valores da coluna **ID Loja** e imprima a soma dos valores da coluna **Valor Final**

---